<mat-dialog-content>
  <mat-stepper labelPosition="bottom" #stepper>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>BILLING & SHIPPING ADDRESS</ng-template>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button [disabled]="!secondFormGroup.valid" mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>SELECT PAYMENT METHOD</ng-template>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Payment Method</mat-label>
              <mat-select required formControlName="thirdCtrl">
                <mat-option value="COD">Cash on Delivery</mat-option>
                <mat-option value="BankTransfer" disabled>Bank Transfer (not available)</mat-option>
                <mat-option value="GCASH" disabled>GCash (not available)</mat-option>
              </mat-select>
        </mat-form-field>
        <div>
          <button  [disabled]="!thirdFormGroup.valid" mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>CONFIRM YOUR INFORMATION</ng-template>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            [ngModel]="user.firstname"
            required
          />
        </mat-form-field>
        
        <div>
          <button [disabled]="!firstFormGroup.valid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


  </mat-stepper>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="getInfo()" [mat-dialog-close]="true" cdkFocusInitial>CONFIRM</button>
    <mat-error *ngIf="error">{{getErrorMessage()}}</mat-error>
  </mat-dialog-actions>
