<div fxFlex class="content-page">
  <div style="margin: auto; width: 50%; height: 150px">
    <button mat-raised-button (click)="backToHome()">
      <mat-icon class="mat-18">arrow_back</mat-icon>
    </button>

    <br /><br />
    <mat-card>
      <h1>Order summary</h1>
      <div class="d-flex justify-content-between">
        <p>Subtotal(items)</p>
        <p>₱{{subtotal}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Shipping Fee</p>
        <p>₱{{shipping}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <h3><b>Total</b></h3>
        <p>₱{{total}}</p>
        
      </div>

      <div class="d-flex justify-content-center">
        <button mat-raised-button (click)="openCheckout()">PROCEED TO CHECKOUT</button>
      </div>
    </mat-card>
    <br /><br />
    <mat-card style="height: 135px;margin: 10px;" *ngFor="let cart of listOfCart">
      <div>
        <table>
          <tr>
            <td>
              <img
                src="{{cart.product?.imgUri}}"
                alt=""
                style="width: 100px; height: 100px"
              />
            </td>
            <td>
              <p><b>{{cart.product?.name}}</b></p>
              <p>{{cart.specification}}</p>
            </td>
            <td>
              <p>₱{{cart.price}}</p>
            </td>
            <td>
                <input 
                    style="width:50px; outline: none;"
                    #newqty 
                    type="number" 
                    min="1" 
                    max="" 
                    class="qty" 
                    [ngModel]="cart.qty"
                    (change)="somethingChanged(cart,newqty.value)"
                    (keyup)="somethingChanged(cart,newqty.value)"
                 >
            </td>
          

            
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
</div>
