<mat-nav-list>
    <div class="logo py-4">
      <img src="https://image.freepik.com/free-psd/metallic-logo-mockup-blue-wall_1389-1178.jpg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">DP Print & Design</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
      <mat-icon>home</mat-icon> HOME
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="product"
    >
      <mat-icon>dashboard</mat-icon> PRODUCT AND SERVICE
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink=""
    >
      <mat-icon>dashboard</mat-icon> ORDER PAGE
    </a>
  
   
  </mat-nav-list>
  