//@import "../home/home.component.scss";


// ::ng-deep mat-card-image {
//   width: 250px !important;
//   height: 250px !important;
// }

.tagline{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 20%;
    margin-top: 15px;
    font-size: 48px;
}
.tag{
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 20%;
    margin-top: 15px;
    
}

.card{
    background-color: rgba(199, 194, 194, 0.092);
    height: 40%;
    width: 90%;
    margin:auto;
}

.prodTitle{
    
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: WHITE;
    text-align: center;
}