
<div class="right">
    <h2 style="font-size: 28px;">
        Dashboard</h2>
    <h3 style="font-size: 40px; 
    font-family: 'Tiro Devanagari Sanskrit', serif; 
    font-weight: bold;">Good Day,</h3>
    <h4 style="font-size: 40px; 
    font-family: 'Tiro Devanagari Sanskrit', serif; 
    font-weight: bold;">{{user.firstname}}</h4>

<p class="tagline">From design to delivery. </p><br>
<p class="tag">D.P Prints & Design has helped small business owners,</p>
<p class="tag">entrepreneurs and dreamers create custom designs and professional marketing. </p>
<p class="tag">Our online printing services are intended to help you find custom products you need – </p>
<p class="tag">business cards, promotional marketing and more – to create a look you love.</p>
 <img class="sd" src="../../assets/image/as.png" alt="" />


  
 
</div>