 <div fxFlex class="content-page">
        <div style="margin: auto; width: 50%; height: 150px">
          <button mat-raised-button (click)="backToHome()">
            <mat-icon class="mat-18">arrow_back</mat-icon>
          </button>
      
          <br /><br />
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false" *ngFor = "let shipping of listOfShipping" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Order no: {{shipping.ordNum}}
              </mat-panel-title>
              <mat-panel-description>
                {{shipping.ordStatus}}
              </mat-panel-description>
            </mat-expansion-panel-header>

        
            <table style="table-layout:fixed;">
              <col width="200px">
              <col width="300px">

              <tr>
                <th></th>
                <th>Shipping Address: {{shipping.ordAdd}} </th>
                <th>qty</th>
                <th>Sub total</th>
              </tr>


              <tr>
                <td>
                  <img
                    src="https://localhost:7118/Resources\Images\ab1a49c0-f147-4538-a095-e26c0e9c94d3.jpg"
                    alt=""
                    style="width: 100px; height: 100px"
                  />
                </td>

                <td>
                  <p><b>PRODUCT NAME</b></p>
                  <p>ghdfg</p>
                </td>

                <td>
                    <p>123</p>
                </td>

                <td>
                  <p>₱9789</p>
                </td>

                
              </tr>

             
            </table>
              
          </mat-expansion-panel>
          <br /><br />
        
         
        </div>
      </div>
      