<div
  style="position: fixed; background-color: black; height: 100%; width: 100%"
>
  <div class="left"><img src="../../assets/image/background.gif" alt="" /></div>
  <div class="right">
    <div class="login">
      <mat-card>
        <form
          class="example-form"
          #loginValue="ngForm"
          [formGroup]="signupForms"
        >
          <div class="d-flex justify-content-around">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>FIRST NAME</mat-label>
              <!-- <span matPrefix
                      >
                      <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >email
                      </mat-icon>
                      &nbsp;
                    </span> -->
              <input
                type="name"
                matInput
                placeholder="FIRST NAME"
                formControlName="firstname"
              />

              <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error> -->
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>LAST NAME</mat-label>
              <!-- <span matPrefix
                      ><mat-icon aria-hidden="false" aria-label="Example home icon"
                        >email
                      </mat-icon>
                      &nbsp;
                    </span> -->
              <input
                type="name"
                matInput
                placeholder="LAST NAME"
                formControlName="lastname"
              />

              <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error> -->
            </mat-form-field>
          </div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <span matPrefix
              ><mat-icon aria-hidden="false" aria-label="Example home icon"
                >email
              </mat-icon>
              &nbsp;
            </span>
            <input
              type="email"
              matInput
              formControlName="username"
              placeholder="Ex. pat@dpprintdesign.com"
            />

            <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error> -->
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>PASSWORD</mat-label>
            <span matPrefix
              ><mat-icon aria-hidden="false" aria-label="Example home icon"
                >lock
              </mat-icon>
              &nbsp;
            </span>
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="PASSWORD"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>CONFIRM PASSWORD</mat-label>
            <span matPrefix
              ><mat-icon aria-hidden="false" aria-label="Example home icon"
                >lock
              </mat-icon>
              &nbsp;
            </span>
            <input
              type="password"
              matInput
              placeholder="CONFIRM PASSWORD"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <br />
          <br />

          <table class="full-width">
            <tr>
              <td>
                <button
                  (click)="getValues(signupForms.value)"
                  mat-raised-button
                  class="half-width btn-ok"
                >
                  SIGN UP
                </button>
              </td>
              <td>
                <a routerLink="/signin">signin</a>
              </td>
            </tr>
          </table>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<!-- 
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper> -->
